

.datepicker {
  margin-top: -6px;
}
.navBar {
background-color:yellow;

}
.topBar {
  background-color:green;
}
.form {
  background-color:skyblue;
}
.sideBar {
background-color:red;

}
.footer {
background-color:goldenrod;
}
.mincard {
background-color:white;
}
.minform {
  min-height:400px;
}

