
.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 400px;
    height: 250px;
    background-color: lightgrey;
}

.flex-item {
    background-color: cornflowerblue;
    width: 500px;
    height: 100px;
    margin: 10px;
}
.datepicker {
  margin-top: -6px;
}
.navBar {
background-color:yellow;

}
.topBar {
  background-color:green;
}
.form {
  background-color:skyblue;
}
.sideBar {
background-color:red;

}
.footer {
background-color:goldenrod;
}

