
/* When the input is not focused */
md-input-container label {
  color: red !important;
}

/* When the input is focused */
md-input-container.md-input-focused label {
  color: blue !important;
}
.datepicker {
  margin-top: -6px;
}
.navBar {
background-color:yellow;

}
.topBar {
  background-color:green;
}
.form {
  background-color:skyblue;
}
.sideBar {
background-color:red;

}
.footer {
background-color:goldenrod;
}
.mincard {
background-color:white;
}
.minform {
  min-height:400px;
  padding:10px;
}

.mdInp {
  min-width:200;
  margin: 5px;
}

